extends ../layouts/default

block content
  section#variante.container
    #cuerpo.row
      // FORMULARIO
      .container.row
        h3 CONTACTO
        form.form-horizontal(action='#', name='contacto', method='post', autocomplete='on')
          .form-group
            label.col-sm-offset-1.col-sm-2.control-label(for='nombre') Nombre:
            .col-sm-4
              input#nombre.form-control(type='nombre', autocomplete='nombre', placeholder='su nombre', required='required')
          .form-group
            label.col-sm-offset-1.col-sm-2.control-label(for='sexo') Seleccione:
            .col-sm-4
              input#problemas.form-control(type='text', name='problema', list='problema')
              datalist#problema
                option(value='quejas') Queja
                option(value='reclamos') Reclamo
                option(value='sugerencias') Sugerencia
          .form-group
            label.col-sm-offset-1.col-sm-2.control-label(for='comentario') Su comentario:
            .col-sm-4
              textarea#comentario.form-control(rows='5')
          .form-group
            .col-sm-offset-5.col-sm-7
              button.btn.btn-danger.btn-lg(type='submit', formaction='index.html') Enviar
