extends ../layouts/default

block content
  .container
    h1 My Cart
    .table-responsive
      table.table.table-striped
        thead
          tr
            th Imagen
            th Orden
            th Producto
            th Precio
            th Talla
            th Cantidad
        tbody#lugar

    if user
      a(href='/purchase').btn.btn-success Purchase

block js
  script(src="/javascripts/mycart.js")
