extends ../layouts/default
include ../mixins/product

block content
  .container
    h1 My Cart
    .blog
      each post in items
        ul
          +item(post)
    if user
      a(href='/purchase').btn.btn-success Purchase
    else
      form
        .signup-form(method="post" action="signup")
          .row
            .col-sm-8.col-md-6
              input(type="hidden", name="action", value="signup")
          
        .form-group
          label Name
          .row
            .col-sm-6.col-md-6
              input.form-control.input-box(type='text',name='first',placeholder='First Name')
            .col-sm-6.col-md-6
              input.form-control.input-box(type='text',name='last',placeholder='Last Name')
        
        .form-group
          label Email
          .row
            .col-sm-6.col-md-6
              input.form-control.input-box(type='email',name='email',placeholder='Email')
        
        .form-group
          label Password
          .row
            .col-sm-6.col-md-6
              input.form-control.input-box(type='password',name='password',placeholder='****')
        
        button(type='submit').btn.btn-success Purchase
  
          
        
