extends ../layouts/default
include ../mixins/order

block content
  .container
    each post in Orders.results
      ul
        +order(post)
        //each order in myorders
        //  li
        //    a(href="/myorders/"+order.id)= order.id
