extends ../layouts/default

block content
  .container
    .row
      .col-md-12.col-lg-12
        article
          p
            a(href="/products") &larr; Back
          hr
          header
            h2= data.product.title
          .row
            .col-md-6.col-lg-6
              if data.product.image
                img(src=data.product.image.url).img-responsive
            .col-md-6.col-lg-6
              ul.list-group
                li.list-group-item 
                  strong Price:
                    =data.product.price
                li.list-group-item 
                  strong Qty:
                    input(type="number" value="1")#quantity
                    //=data.product.qty
              .well
                =data.product.description
              <button class="btn btn-success btn-block" onclick="add_to_cart('#{data.product.id}','#{data.product.price}')">Add to cart
              </button>
              
block js
  script(src="/js/cart.js")
