doctype html
html(lang='es')
  head
    title Proyecto
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='autor', content='Renato Illescas, Lenin Tenecela')
    meta(name='description', content='Sitio web de venta de vestidos por catalogo para mujeres')
    meta(name='keywords', content='vestidos, mujeres, prendas, gala')

    // BOOTSTRAP
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    // FONTS AWESONE
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

    // GOOGLE FONTS
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Slab')

    // BOOTSTRAP SOCIAL NETWORKS
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')

    // ESTILO DE LA PAGINA
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    // HEADER
    include ../layouts/header.pug

    // CONTENT
    block content

    // FOOTER
    include ../layouts/footer.pug

    // JQUERY
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    // BOOTSTRAP
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    block js
