header.container
  section#primary-nav.container.row
    figure.col-xs-12.col-sm-2.col-md-2
      a(href='index.html')
        img.logo.img-responsive(src='/images/logo.png', alt='logo')
    nav.navbar.menuSesion.col-xs-12.col-sm-10.col-md-10
      .container-fluid.nav.navbar-nav.navbar-right
        a#carrito(href='/mycart')
          span.glyphicon.glyphicon-shopping-cart
          Mi Carrito

        if user
          if user.canAccessKeystone
            a(href='/graph/coste')
              span.glyphicon.glyphicon-user
              |  Gráfica de Costo
            a(href='/graph/stock')
              span.glyphicon.glyphicon-user
              |  Gráfica de Costo
            a(href='/keystone')
              span.glyphicon.glyphicon-user
              |  Dashboard
          else
            a(href='/account')
              span.glyphicon.glyphicon-user
              |  Cuenta
          a(href='/keystone/signout')
            span.glyphicon.glyphicon-user
            |  Cerrar Sesión
        else
          a#registro(href='/register')
            span.glyphicon.glyphicon-list-alt
            |  Registrate

          a#iniciosesion(href='/keystone/signin')
            span.glyphicon.glyphicon-user
            |  Iniciar Sesion

  // Menu de navegacion por la pagina
  nav.navbar.navbar-inverse.menuClientes.row
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.menuNavegacion
          if(locals.section == 'home')
            li.active
              a(href='/') Inicio
          else
            li
              a(href='/') Inicio

          if(locals.section == 'product')
            li.active
              a(href='/catalogue') Catalogo
          else
            li
              a(href='/catalogue') Catalogo

          if(locals.section == 'store')
            li.active
              a(href='/store') Tiendas
          else
            li
              a(href='/store') Tiendas

          if(locals.section == 'contact')
            li.active
              a(href='/contact') Contacto
          else
            li
              a(href='/contact') Contacto
